* {
  margin: 0;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  --hot: red;
  --purple: rgb(95, 69, 188);
  --cool: lightblue;
  --cold: blue;
  --shadow-border: rgb(143, 143, 143);
  /* background-color: lightskyblue; */
}

header {
  margin-bottom: 10px;
  padding: 5px;
	padding-right: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
	background: linear-gradient(45deg, #6daedc, #1f0660);
  /* background-color: rgb(38, 0, 128); */
}

h1 {
  margin-right: 30px;
  font-size: 30px;
  color: #fff;
}

.daily-card {
  box-shadow: 5px 5px 5px var(--shadow-border);
  border: 1px solid var(--shadow-border);
  padding: 10px;
  background-color: rgba(54, 67, 99, 0.799);
  color: #fff;
}
hr {
  margin-top: 15px;
  margin-bottom: 5px;
}
input {
  height: 30px;
  border-radius: 5px;
	padding-left: 15px;
  /* box-shadow: 5px 5px 5px var(--shadow-border); */
  border: 2px solid var(--shadow-border);
  font-weight: 600;
}
button {
  height: 30px;
  border-radius: 5px;
}
#search-btn {
  background-color: rgba(119, 146, 173, 0.945);
  box-shadow: 5px 5px 5px var(--shadow-border);
  border: 1px solid var(--shadow-border);
  font-weight: 600;
  color: #fff;
}

#search_city button{
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(196, 192, 192, 0.945);
  box-shadow: 5px 5px 5px var(--shadow-border);
  border: 1px solid var(--shadow-border);
  font-weight: 600;
	text-transform: capitalize;
}
#main-card {
  box-shadow: 5px 5px 5px var(--shadow-border);
  border: 2px solid var(--shadow-border);
  padding: 5px;
}

#container-daily-cards {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  column-gap: 3%;
  justify-content: center;
}
#todays-info {
  display: grid;
  grid-template-rows: 45% 45%;
  align-items: center;
}
#main-card span,
#main-card img {
  padding: 5px;
}

#todays-day {
  text-align: start;
}

#main-card {
  margin-bottom: 10px;
  width: 87%;
  height:260px;
  margin-left: auto;
  margin-right: auto;
}

.weather-display {
  display: grid;
  grid-template-rows: 40% 10% 45%;
}

.five-day {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

span {
  box-shadow: 2px 2px 5px rgba(119, 136, 153, 0.397);
  border-radius: 5px;
}

main {
  display: grid;
  grid-template-columns: 20% 75%;
  justify-content: center;
}

#search-container,
.search-header {
  font-size: 30px;
  font-weight: bold;
}

#search-container input:focus-visible {
  background-color: rgb(225, 205, 205);
}

/* #search-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: start;
} */

.five-day,
#todays-day {
  font-size: 2rem;
  font-weight: 600;
}

.favorable-uv {
  background-color: rgba(51, 214, 51, 0.541);
}

.moderate-uv {
  background-color: rgba(214, 176, 51, 0.541);
}
.severe-uv {
  background-color: rgba(214, 51, 51, 0.541);
}

button:hover {
  background-image: linear-gradient(180deg, var(--cool), var(--purple));
}

button:active {
  color: mediumblue;
  box-shadow: none;
}

#search {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prev-searched {
  background-color: var(--cool);
  margin: 3px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.prev-searched:hover {
  background-color: var(--purple);
  border: 3px solid var(--cool);
}

#todays-date {
  font-size: 1.5rem;
}

.weather-img {
  max-width: 80%;
}

.selector-visible {
  display: block;
  position: relative;
  top: 0;
  left: 0%;
  right: 0;
  background-color: var(--purple);
  border-radius: 10px;
  border: 5px solid var(--cool);
  box-shadow: 5px 5px 5px lightgray;
  min-width: 80%;
}
.selector-visible > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.selector-hidden {
  display: none;
}

aside {
  margin: 10px;
}

#city-name,
#todays-date {
  box-shadow: none;
	text-transform: capitalize;
}

@media screen and (max-width: 960px) {
  main {
    display: block;
    justify-content: center;
  }
  #search-container {
    width: 87%;
    margin: auto auto 1rem auto;
  }
}
